<footer class="bg-dark text-white text-center py-4 mt-auto">
    <div class="container">
      <p>&copy; Campgrounds.</p>
      <p>Follow us on:
        <a href="#" class="text-white ml-2"><i class="fab fa-facebook"></i> Facebook</a> |
        <a href="#" class="text-white ml-2"><i class="fab fa-twitter"></i> Twitter</a> |
        <a href="#" class="text-white ml-2"><i class="fab fa-instagram"></i> Instagram</a>
      </p>
    </div>
  </footer>