<% layout('./layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center">
  <form action="/campground" method="post" class="col col-8 needs-validation" novalidate>
    <div class="form-group mt-3">
      <label for="title">title</label>
      <input
        class="form-control"
        type="text"
        name="campground[title]"
        id="title"
        required
      />
      <div class="valid-feedback">
        look's good
      </div>
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <input
        class="form-control"
        type="text"
        name="campground[price]"
        id="price"
        required
      />
    </div>
    <div class="form-group">
      <label for="image">image url</label>
      <input
        class="form-control"
        type="text"
        name="campground[image]"
        id="image"
        required
      />
    </div>
    <div class="form-group">
      <label for="location">location</label>
      <input
        class="form-control"
        type="text"
        name="campground[location]"
        id="location"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input
        class="form-control"
        type="text"
        name="campground[description]"
        id="description"
        required
      />
    </div>
    <button class="btn-success mb-3">submit</button>
  </form>
</div>
